<!-- Image and text -->
<nav class="navbar navbar-light bg-white topbar">
  <i class="fa-solid fa-dog dog-icon text-info"></i> 
  <h1 class="navbar-brand text-info ponto">
      Pet Care 
    </h1>
    <p class="navbar-brand text-info ponto-p">For Your Pets</p>
    <div>
      <div class="mr-5">
        <a id="login-button" ms-hide-element="true" href="" class="button logout login w-button">Login</a>    
      </div>
      <div>
        <a id="signin-button" ms-hide-element="true" href="" class="button signout signin w-button">SignUp</a>    
      </div>
    </div>
    
  </nav>