<%- include('partials/navhead') %>

<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <img class="about-img" src="images/dog-about1.jpg" alt="">
    
    <section class="" id="home-info">
        <div class="about-text">
          <h2 id="home-main-text">About Our Pet Store</h2>
          <p class="greyc about-para"> At Ponto's, we believe in safe socialization, exercise and education for your furry child. Our pet care store provide the utmost in quality care as we separate each dog by size, temperament and promise evaluated, vaccinated dogs in a supervised environment. You can even watch them play all day via our live webcams!</p>
          <p class="greyc about-para">Because pets are social creatures, we believe that every pet deserves care – each care center runs very much like a child’s daycare. We provide report cards, know each pet by name and believe in 100 percent transparency. Just like it takes a village to raise children, it takes a village to raise a well-balanced pet and we will work alongside you on that journey! More than anything, we guarantee to love each pet as if it were our own.</p>
        <p class="greyc about-para">We currently have two pet care centers throughout Jamaica. Find a store near you and check out its individual offerings. Each of our pet store centers is independently owned and operated with tremendous support behind them, dedicated to providing pets the very best! Owners are able to tap into our “Village of Knowledge” which includes other owners, external partners and an experienced Support Office that includes an Canine Behaviorist, Veterinarian and Environmental Biologist, working together every step of the way to ensure the best experience for both our pet parents and their beloved pets. </p>
        
        </div>
       </section>

    <%- include('partials/footer') %>
</body>
