<%- include('partials/head') %>
<%- include('partials/navhead') %>

<body>
    <%- include('partials/navbar') %>
    <img class="about-img" src="images/cat-contact.jpg" alt="">

    <section class="" id="home-info1">
        <div class="about-text">
          <h2 id="home-main-text">Get in Touch</h2>
          <p class="greyc" style="text-align:center; font-size:15px;"><span class="text-info">Tel:</span>&nbsp;209-317-5114 •&nbsp;<span class="text-info">Email:</span>&nbsp;<a data-auto-recognition="true" href="mailto:ponto@pontepet.com">ponto@pontepet.com</a> •&nbsp;<span class="text-info">Address:</span>&nbsp;500 Jago St, Jamaica, Kgn 94158</p>
        </div>
        </section>

        <div class="form-center">
        <form action="https://formspree.io/f/mwkyoojy" method="post">
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" size="50" placeholder="Name" required
            maxlength="30">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="email" class="form-control"  name="email" id="exampleFormControlInput1" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="subject" placeholder="Subject">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control"  type="text" placeholder="Message" name="textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="btn-sub">
          <input class="btn btn-info" type="submit" value="Submit">
        </div>
        </form>
      </div>


      <footer class="about-footer">
        <div class="container-fluid base-space">
          <div class="base-para one">
            <p class="text-white">© 2023 by Ponto Pet. Proudly created by Oshanedesign</p>
            <ul class="base-ul">
                <li><i class="fa-brands fa-facebook-f social text-white"></i></li>
                <li><i class="fa-brands fa-instagram social text-white"></i></li>
                <li><i class="fa-brands fa-twitter social text-white"></i></li>
                <li><i class="fa-brands fa-youtube social text-white"></i></li>
            </ul>
          </div>
          
         <div class="base-para two">
         <p class="text-white">876-394-8855 | 209-317-5114</p>
         <p class="text-white">ponto@pontopet.com</p>
         <p class="text-white">500 Jago St, Jamaica, Kgn 94158</p>
         </div>
        
         <div>
    
    </footer>

</body>